body{
  margin:0;

}
div p{
  font-family:Open Sans;
  line-height:180%;
  text-rendering: optimizeLegibility;
  letter-spacing: 105%;
  word-spacing:110%;
   
}
#header{
  height:100px;
  width:100%;
  background-color:#1B4267;

}

#subHeader{
  height: 50px;
  width:100%;
  background-color:#357FC3;
}


#content{
  
  z-index:1;
  margin-top: 15%;
  margin-right:25%;
  margin-left:25%;
  padding: 15px 15px 0px 15px;
  position:relative;
  background-color:#eaf2fa;
  border-radius:8px;

}
#subline{
  height:1px;
  margin-left:10%;
  margin-right:10%;
  width:80%;
  background-color:#357FC3;
}

#backgroundimage{
  width:100%;
  height:auto;

}

#footer{

  height:100px;
  background-color:#1B4267;
  position:relative;
  clear:both;
  bottom:0;
  width:100%;
}
#navBar{
  margin-left: auto;
  margin-right:auto;

}

a{

  display:inline-block;
  padding:13px 48px;
  margin:auto;
  text-decoration:none;
  color:white;

}
a:hover{
  color:#9dc2e5;
}

.navButton{
  
  border-left:1px solid #2464A0;
  /*padding:14px 48px 14px 50px;*/
  font-weight:900;
  font-family:inherit; 
  color:white;
  
}

#endButton{
  border-left:1px solid #2464A0;
  border-right:1px solid #2464A0;
  /*padding:14px 48px 14px 50px;*/
  font-weight:900;
  font-family:inherit; 
  color:white;
}